---
const { items } = Astro.props;
---

<div class="card-masonry">
    {items.map((item: any) => (
        <div class="card">
            <a href={item.link}>
                <img src={item.image} />

                <div class="overlay">
                    <h3>{item.title}</h3>
                    <p class="details">{item.subtitle}</p>
                </div>
            </a>
        </div>
    ))}
</div>